.footer{
    background-color:var(--color-one);
    padding: 50px 150px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.footer ul{
    display: flex;
}
.footer-button{
    color:var(--color-twoo);
    width: 100px;
    height: 45px;
    border-radius: 20px;
    padding: 10% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.footer-button:active{
    box-shadow: 5px 0px 31px -9px rgba(229,242,249,1);
    transition-duration: 0.3s;
}
.footer-container ul li{
    display: inline-block;
}
.circle-footer{
    width: 42px;
    height:42px;
    font-size: 25px;
    margin-left: 20px;
    background-color: var(--color-twoo);
    color:var(--color-one);
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items: center;
    transition-duration: 0.3s;
}
.circle-footer:hover{
    background-color: var(--color-one);
    color:var(--color-four);
    border:0.5px solid var(--color-four);
    transition-duration: 0.3s;
}
.end{
    color:var(--color-twoo);
    font: size 15px;
}
.mail-footer{
    display: flex;
    flex-direction: row;

}
.san{
    color:var(--color-five);
    font: size 15px;
    margin-left: 3px;
    transition-duration: 0.3s;
}
.san:hover{
    color:#E6E6E6;
    transition-duration: 0.3s;

}
@media screen and (max-width:414px){
    .footer{
        background-color:var(--color-one);
        padding: 20px 10px;
        height: 150px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .footer-button{
        width: 90px;
        height: 25px;
        font-size: 13px;
    }
    .footer-button{
        display:none;
    }
    .end{
        margin-top: 20px;
    }
}