.main-3{
    max-width: 100%;
    background-color:var(--color-twoo);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 10% 10%;
}
.quotes{
    font-size:100px;
    color:var(--color-four);
}
.text-parragraph-2{
    color:var(--color-four);
    font-size:30px;
    width: 60%;
    margin: 25px 0px;
    text-align: center;
}
.someone{
    font-size: 30px;
    font-weight:900;
    color:var(--color-four);
}
@media screen and (max-width:414px){
    .main-3{
        padding: 50px 10px;
    }
    .quotes{
        font-size:80px;
    }
    .text-parragraph-2{
        font-size:15px;
        width: 95%;
        margin: 25px 0px;
        text-align: center;
    }
}