.main-2{
    max-width: 100%;
    background-color:#E5F2F9;
    padding: 10% 10%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.boxes{
    width: 260px;
    height: 230px;
    border-radius: 10px;
    border: 0.5px solid rgb(216, 210, 210);
    background-color:white;
    margin: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    transition-duration: 0.3s;
}
.boxes:hover{
    border: 1px solid #0BCEDE;
    transition-duration: 0.3s;
}
.container-cajas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.text-boxes{
    font-size:25px;
    font-weight: 600;
    margin-top: 14px;
}
.html{
    color: #E54D26;
}
.css{
    color: #3C8FC6;
}
.sass{
    color:#CC6599;
}
.java{
    color:#EFDB4F;
}
.react{
    color:#61DAFB
}
.git{
    color:#F34E29;
}
.icon-size{
    font-size: 500%;
}
@media screen and (max-width:414px){
    .main-2{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 0px 5px;
    }
    .container-cajas{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }
    .parragraph-1{
        margin: 5px 0;
        width: 75%;
    }
    .boxes{
        width: 150px;
        height: 150px;
        margin: 10px 10px;
        display: flex;
    }
    .text-boxes{
        font-size:18px;
        margin-top: 5px;
    }
    .icon-size{
        font-size: 440%;
    }
}