.main-3{
    background-color:#0BCEDE;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 140px 150px;

}
.quotes{
    font-size:100px;
    color:white;
}
.text-parragraph-2{
    color:white;
    font-size:20px;
    width: 60%;
    margin: 25px 0px;
}
.someone{
    font-size: 30px;
    font-weight:900;
    color:white;
}
@media screen and (max-width:400px){
    .main-3{
        padding: 20px 10px;
    }
    .quotes{
        font-size:80px;
    }
    .text-parragraph-2{
        font-size:15px;
        width: 95%;
        margin: 25px 0px;
        text-align: center;
    }
}