.main-5{
    background-color:#E5F2F9;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 150px 150px;
}
.box-5{
    width: 100%;
    background-color:white;
    border-radius: 10px;
    border: 0.5px solid rgb(216, 210, 210);
    padding:100px 50px;
    display: flex;
    flex-direction: row;
}
.text-box-5-contact{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
}
.circle{
    width: 40px;
    height:40px;
    font-size: 150%;
    color:#0BCEDE;
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items: center;

}
.circle:hover{
    color:white;
    background-color: #0BCEDE;
}
.text-icon-contact{
    color:rgb(7, 3, 3);
}
.button-icon{
    padding: 6px 8px;
    margin-top: 20px;
    border-radius: 25px;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.button-icon:active{
    box-shadow: 0px 0px 29px -13px rgba(11,206,222,0.98);
    border:0.5px solid rgba(11,206,222);
}
.form{
    width:60%;
    padding:20px 30px;
    background-color:rgb(235, 226, 226);
}