@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size:35px;
}
h2{
    font-size: 70px;
    color: #0BCEDE;
}
h3{
    font-size:45px;
    letter-spacing: 5px;
}
h4{
    font-size:45px;
}
img{
    width: 80%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 100vw;
    font-family: 'Noto Sans SC', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.shadow{
    box-shadow: -4px 0px 10px 0px rgba(194, 190, 190, 0.5) inset;
}
@media screen and (max-width:400px){
    h2{
        font-size: 55px;
        text-align: center;
    }

}